
    
            <div class="about-us">
                <div class="abt-text-container">
                    <h2 class="abt-section-title">About Us</h2>
                    <div class="abt-section-p">
                        <p class="abt-section-p-1">
                            Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our
                            selection of
                            timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always
                            have a reliable
                            and stylish accessory on your wrist.
                        </p>
                        <p class="abt-section-p-2">
                            At our premium watch collection, we believe that a watch is more than just a timekeeping device - it's a
                            statement piece
                            that reflects your personality and style. So why settle for anything less than the best?
                        </p>
                    </div>
                    <button type="button" class="about-us-btn">
                        View catalog
                        <a href="#" class="about-us-btn-link"></a>
                    </button>
                </div>
    
    
    
    
                <div class="abt-pic-container">
                    <picture>
    
                        <source srcset="/img/img-mobile/about-us-mob-1x.jpg 1x, /img/img-mobile/about-us-mob-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/img-tablet/about-us-tab-1x.jpg 1x, /img/img-tablet/about-us-tab-2x.jpg 2x"
                            media="(max-width: 1279px)" />
                        <source srcset="/img/img-desktop/about-us-pc-1x.jpg 1x, /img/img-desktop/about-us-pc-2x.jpg 2x"
                            media="(min-width: 1280px)" />
    
                        <img src="/img/img-tablet/about-us-tab-1x.jpg" alt="black-n-white watch photo" width="704" />
    
                    </picture>
                </div>
            
            </div>
