<section class="advertisement" id="advertisement">
  <div class="container advertisement-container">
    <h2 class="advertisement-page visually-hidden">advertisement</h2>
    <div class="advertisement-item">
      <p class="advertisement-title">
        Choose <span class="advertisement-part">your story</span>, making every
        moment unique. Time is your style, and we reveal it.
      </p>
      <a href="#contact-us" class="button-advertisement">Contact Us </a>
    </div>
  </div>
</section>
