<div class="advertisement">
  <section class="advertisement-container">
    <h2 class="advertisement-page visually-hidden">advertisement</h2>
    <div class="advertisement-item">
      <p class="advertisement-title">
        Choose <span class="advertisement-part">your story</span>, making every
        moment unique. <br />
        Time is your style, and we reveal it.
      </p>
      <a href="about-us"
        ><button class="button-advertisement" type="button">
          <p class="as">Contact Us</p>
        </button>
      </a>
    </div>
  </section>
</div>
