<section class="catalog" id="catalog">
  <div class="container-cat">
    <h2 class="caption">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="./img/img-desktop/catalog/Garmin Fenix 7X Pro Sapphire.png x1,
              ./img/img-desktop/catalog/Garmin Fenix 7X Pro Sapphire@2.png x2"
              src="./img/img-desktop/catalog/Garmin Fenix 7X Pro Sapphire.png"
              class="resp-image"
              alt="Black round case, black strap, digital dial with bright white and red elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-descr">€500</p>
          </div>
        </div>
      </li>

      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="./img/img-desktop/catalog/Garmin Marq Athlete.png x1,
              ./img/img-desktop/catalog/Garmin Marq Athlete@2.png x2"
              src="./img/img-desktop/catalog/Garmin Marq Athlete.png"
              class="resp-image"
              alt="Black round case with silver elements, black strap, digital dial with green and white indicators."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Marq Athlete</h3>
            <p class="catalog-descr">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="./img/img-desktop/catalog/Garmin Descent MK1.png x1,
              ./img/img-desktop/catalog/Garmin Descent MK1@2.png x2"
              src="./img/img-desktop/catalog/Garmin Descent MK1.png"
              class="resp-image"
              alt="Round silver case, black strap, digital dial with white and green elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Descent MK1</h3>
            <p class="catalog-descr">€680</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="./img/img-desktop/catalog/Garmin D2 Delta PX.png x1,
              ./img/img-desktop/catalog/Garmin D2 Delta PX@2.png x2"
              src="./img/img-desktop/catalog/Garmin D2 Delta PX.png"
              class="resp-image"
              alt="Silver-black round case, metallic strap, digital dial with white and green details."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin D2 Delta PX</h3>
            <p class="catalog-descr">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog-item" id="catalog-item-hiden">
        <div class="content">
          <div class="picture">
            <img
              srcset="./img/img-desktop/catalog/Garmin Fenix 6 Pro Solar.png x1,
              ./img/img-desktop/catalog/Garmin Fenix 6 Pro Solar@2.png x2"
              src="./img/img-desktop/catalog/Garmin Fenix 6 Pro Solar.png"
              class="resp-image"
              alt="Gray round case, black strap, digital dial with blue elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-descr">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-item" id="catalog-item-hiden">
        <div class="content">
          <div class="picture">
            <img
              srcset="./img/img-desktop/catalog/Tube Watch S42 Date Steel.png x1,
              ./img/img-desktop/catalog/Tube Watch S42 Date Steel@2.png x2"
              src="./img/img-desktop/catalog/Tube Watch S42 Date Steel.png"
              class="resp-image"
              alt="Black round case, black strap, digital dial with red and white elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="catalog-descr">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button class="button-class" type="button">Show more</button>
  </div>
</section>
