<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="caption">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="
                ./img/img-desktop/catalog/Fenix-7X.png    1x,
                ./img/img-desktop/catalog/Fenix-7X@2x.png 2x
              "
              src="./img/img-desktop/catalog/Fenix-7X.png"
              class="resp-image"
              alt="Black round case, black strap, digital dial with bright white and red elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-descr">€500</p>
          </div>
        </div>
      </li>

      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="
                ./img/img-desktop/catalog/Marq-Athlete.png    1x,
                ./img/img-desktop/catalog/Marq-Athlete@2x.png 2x
              "
              src="./img/img-desktop/catalog/Marq-Athlete.png"
              class="resp-image"
              alt="Black round case with silver elements, black strap, digital dial with green and white indicators."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Marq Athlete</h3>
            <p class="catalog-descr">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="
                ./img/img-desktop/catalog/Descent-MK1.png    1x,
                ./img/img-desktop/catalog/Descent-MK1@2x.png 2x
              "
              src="./img/img-desktop/catalog/Descent-MK1.png"
              class="resp-image"
              alt="Round silver case, black strap, digital dial with white and green elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Descent MK1</h3>
            <p class="catalog-descr">€680</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="content">
          <div class="picture">
            <img
              srcset="
                ./img/img-desktop/catalog/D2-Delta.png    1x,
                ./img/img-desktop/catalog/D2-Delta@2x.png 2x
              "
              src="./img/img-desktop/catalog/D2-Delta.png"
              class="resp-image"
              alt="Silver-black round case, metallic strap, digital dial with white and green details."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin D2 Delta PX</h3>
            <p class="catalog-descr">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog-item" id="catalog-item-hiden">
        <div class="content">
          <div class="picture">
            <img
              srcset="
                ./img/img-desktop/catalog/Fenix-6.png    1x,
                ./img/img-desktop/catalog/Fenix-6@2x.png 2x
              "
              src="./img/img-desktop/catalog/Fenix-6.png"
              class="resp-image"
              alt="Gray round case, black strap, digital dial with blue elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-descr">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-item" id="catalog-item-hiden">
        <div class="content">
          <div class="picture">
            <img
              srcset="
                ./img/img-desktop/catalog/Watch-S42.png    1x,
                ./img/img-desktop/catalog/Watch-S42@2x.png 2x
              "
              src="./img/img-desktop/catalog/Watch-S42.png"
              class="resp-image"
              alt="Black round case, black strap, digital dial with red and white elements."
            />
          </div>
          <div class="catalog-name">
            <h3 class="catalog-caption">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="catalog-descr">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button class="button-class" type="button">Show more</button>
  </div>
</section>
