      <!--Hero section-->
      <section class="hero">
        <div class="container hero-container">

          <div class="hero-content">

            <div class="hero-reviews">

              <div class="hero-members">
                <div class="member-pic member-pic-1">
                  <picture>

                    <!-- IMG for desktop  -->
                    <source srcset="/img/img-desktop/Ellipse_Viktoria_desk_60x60.jpg 1x, /img/img-desktop/Ellipse_Viktoria_desk_60x60@2x.jpg 2x" media="(min-width: 1196px)"/>

                    <!-- IMG for tablet  -->
                    <source srcset="/img/img-tablet/Ellipse_Viktoria_tablet_56x56.jpg 1x, /img/img-tablet/Ellipse_Viktoria_tablet_56x56@2x.jpg 2x" media="(min-width: 768px)" />

                    <!-- IMG for mobile  -->
                    <source srcset="/img/img-mobile/Ellipse_Viktoria_mob_44x44.jpg 1x, /img/img-mobile/Ellipse_Viktoria_mob_44x44@2x.jpg 2x" media="(max-width: 767px)" />

                    <img src="/img/img-mobile/Ellipse_Viktoria_desk_60x60@2x.jpg" alt="members" width="44" height="44" />
                  </picture>
                </div>
              
                <div class="member-pic member-pic-2">
                  <picture>

                    <!-- IMG for desktop  -->
                    <source srcset="/img/img-desktop/Ellipse_John_Wax_desk_60x60.jpg 1x, /img/img-desktop/Ellipse_John_Wax_desk_60x60@2x.jpg 2x" media="(min-width: 1196px)"/>

                    <!-- IMG for tablet  -->
                    <source srcset="/img/img-tablet/Ellipse_John_Wax_tablet_56x56.jpg 1x, /img/img-tablet/Ellipse_John_Wax_tablet_56x56@2x.jpg 2x" media="(min-width: 768px)" />

                    <!-- IMG for mobile  -->
                    <source srcset="/img/img-mobile/Ellipse_John_Wax_mob_44x44.jpg 1x, /img/img-mobile/Ellipse_John_Wax_mob_44x44@2x.jpg 2x" media="(max-width: 767px)" />

                    <img src="/img/img-mobile/Ellipse_John_Wax_desk_60x60@2x.jpg" alt="members" width="44" height="44" />
                  </picture>
                </div>

                <div class="member-pic member-pic-3">
                  <picture>
                    <source srcset="/img/img-desktop/Ellipse_Anastasia_desk_60x60.jpg 1x, /img/img-desktop/Ellipse_Anastasia_desk_60x60@2x.jpg 2x" media="(min-width: 1196px)"/>

                    <source srcset="/img/img-tablet/Ellipse_Anastasia_tablet_56x56.jpg 1x, /img/img-tablet/Ellipse_Anastasia_tablet_56x56@2x.jpg 2x" media="(min-width: 768px)" />

                    <source srcset="/img/img-mobile/Ellipse_Anastasia_mob_44x44.jpg 1x, /img/img-mobile/Ellipse_Anastasia_mob_44x44@2x.jpg 2x" media="(max-width: 767px)" />

                    <img src="/img/img-mobile/Ellipse_Anastasia_desk_60x60@2x.jpg" alt="members" width="44" height="44" />
                  </picture>
                </div>
              </div>

              <a class="scrolling" href="">Scroll down</a>
            </div>  
            
            <div class="hero-tittle">
              <h1 class="main-tittle">Welcome to our <span class="hero-text-colored">collection</span> of premium watches</h1>
              <p class="hero-description">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.              
              </p>
            </div>
          </div>
            
            
            
              <div class="hero-img">
                <picture>
                  <source srcset="/img/img-desktop/Rectangle_desktop.jpg 1x, /img/img-desktop/Rectangle_desktop@2x.jpg 2x" media="(min-width: 1280px)"/>
                  <source srcset="/img/img-tablet/Rectangle_tablet.jpg 1x, /img/img-tablet/Rectangle_tablet@2x.jpg 2x" media="(min-width: 768px)" width="728" />
                  <source srcset="/img/img-mobile/Rectangle_mobile.jpg 1x, /img/img-mobile/Rectangle_mobile@2x.jpg 2x" media="(max-width: 767px)" />
                  <img src="/img/img-mobile/Rectangle_mobile.jpg" alt="Watches" width="1150" height="500" />
                </picture>
              </div>
        </div>      
      </section>

