      <!--Hero section-->
      <section class="hero">
        <div class="container hero-container">
            <h1 class="main-title">Welcome to our <span class="hero-text-colored">collection</span> of premium watches</h1>
            <p class="hero-description">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
          
            
          
          
            <picture>
              <source srcset="/img/img-mobile/Rectangle_10_(2).jpg, /img/img-mobile/Rectangle_10@2x_(2).jpg 2x" media="(min-width: 1196px)"/>
              <source srcset="/img/img-mobile/Rectangle_10_(2).jpg, /img/img-mobile/Rectangle_10@2x_(2).jpg 2x" media="(min-width: 768px)" />
              <source srcset="/img/img-mobile/Rectangle_10_(2).jpg, /img/img-mobile/Rectangle 10@2x_(2).jpg 2x" media="(max-width: 767px)" />
              <img src="/img/img-mobile/Rectangle_10_(2).jpg" alt="Watches" width="264" height="260" />
            </picture>
          
        </div>
      </section>

