      <!--Hero section-->
      <section class="hero">
        <div class="container hero-container">
            <h1 class="main-title">Welcome to our <span class="hero-text-colored">collection</span> of premium watches</h1>
            <p class="hero-description">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
          <div class="hero-reviews">

          </div>  
            
          
          <div class="hero-img">
            <picture>
              <source srcset="/img/img-desktop/Rectangle_desktop.jpg 1x, /img/img-desktop/Rectangle_desktop@2x.jpg 2x" media="(min-width: 1196px)"/>
              <source srcset="/img/img-tablet/Rectangle_tablet.jpg 1x, /img/img-tablet/Rectangle_tablet@2x.jpg 2x" media="(min-width: 768px)" />
              <source srcset="/img/img-mobile/Rectangle_mobile.jpg 1x, /img/img-mobile/Rectangle_mobile@2x.jpg 2x" media="(max-width: 767px)" />
              <img src="/img/img-mobile/Rectangle_mobile.jpg" alt="Watches" min-width="768" min-height="520" />
            </picture>
          </div>
        </div>
      </section>

