<section id="#" class="reviews">

    <div class="container">

        <h2 class="review-header">Reviews</h2>
        <ul class="review-list">
            <li class="review-item">
                <img srcset="/img/img-mobile/RevImgFirst-1x.webp 1x, /img/img-mobile/RevImgFirst-2x 2x" width="56" height="56" class="review-profile-image" src="/img/img-mobile/RevImgFirst-1x.webp" alt="John Wax's Portrait" >
                <h3 class="review-subheader" >John Wax</h3>
                <p class="review-paragraph">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>

            </li>
            <li class="review-item">
                <img srcset="/img/img-mobile/RevImgSecond-1x.webp 1x, /img/img-mobile/RevImgSecond-2x 2x" width="56" height="56" class="review-profile-image" src="/img/img-mobile/RevImgSecond-1x.webp" alt="Victoria Romashenko's Portrait">
                <h3 class="review-subheader">Victoria Romashenko</h3>
                <p class="review-paragraph">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</p>

            </li>
            <li class="review-item">
                <img srcset="/img/img-mobile/RevImgThird-1x.webp 1x, /img/img-mobile/RevImgThird-2x 2x" width="56" height="56" class="review-profile-image" src="/img/img-mobile/RevImgThird-1x.webp" alt="Ananastasia Trachuk's Portrait">
                <h3 class="review-subheader">Anastasia Trachuk</h3>
                <p class="review-paragraph">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>

            </li>
        </ul>
    </div>

</section>