<section class="sale-section" id="sale">
  <div class="sale">
    <div class="container">
      <h2 class="sale-title">Sale</h2>
      <div class="section-wrapper">
        <div class="image-section">
          <div class="image-section-small-images">
            <div class="small-image-wrapper">
              <picture>
                <source
                  srcset="
                    /img/img-desktop/small-watch1-min.png    1x,
                    /img/img-desktop/small-watch1-2x-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/img-tablet/tab-small-watch1-min.png    1x,
                    /img/img-tablet/tab-small-watch1-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/img-mobile/mob-small-watch1-min.png    1x,
                    /img/img-mobile/mob-small-watch1-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/img-desktop/small-watch1-min.png"
                  alt="small-watch-picture-1"
                  width="132"
                  class="image-section-small-image"
                />
              </picture>
            </div>
            <div class="small-image-wrapper">
              <picture>
                <source
                  srcset="
                    /img/img-desktop/small-watch2-min.png    1x,
                    /img/img-desktop/small-watch2-2x-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/img-tablet/tab-small-watch2-min.png    1x,
                    /img/img-tablet/tab-small-watch2-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/img-mobile/mob-small-watch2-min.png    1x,
                    /img/img-mobile/mob-small-watch2-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/img-desktop/small-watch2-min.png"
                  alt="small-watch-picture-2"
                  width="132"
                  class="image-section-small-image"
                />
              </picture>
            </div>
            <div class="small-image-wrapper">
              <picture>
                <source
                  srcset="
                    /img/img-desktop/small-watch3-min.png    1x,
                    /img/img-desktop/small-watch3-2x-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/img-tablet/tab-small-watch3-min.png    1x,
                    /img/img-tablet/tab-small-watch3-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/img-mobile/mob-small-watch3-min.png    1x,
                    /img/img-mobile/mob-small-watch3-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/img-desktop/small-watch3-min.png"
                  alt="small-watch-picture-3"
                  width="132"
                  class="image-section-small-image"
                />
              </picture>
            </div>
            <div class="small-image-wrapper">
              <picture>
                <source
                  srcset="
                    /img/img-desktop/small-watch4-min.png    1x,
                    /img/img-desktop/small-watch4-2x-min.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/img-tablet/tab-small-watch4-min.png    1x,
                    /img/img-tablet/tab-small-watch4-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/img-mobile/mob-small-watch4-min.png    1x,
                    /img/img-mobile/mob-small-watch4-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/img-desktop/small-watch4-min.png"
                  alt="small-watch-picture-4"
                  width="132"
                  class="image-section-small-image"
                />
              </picture>
            </div>
          </div>
          <div class="big-image-wrapper">
            <picture>
              <source
                srcset="
                  /img/img-desktop/big-watch-min.png    1x,
                  /img/img-desktop/big-watch-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/img-tablet/tab-big-watch-min.png    1x,
                  /img/img-tablet/tab-big-watch-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-mobile/mob-big-watch-min.png    1x,
                  /img/img-mobile/mob-big-watch-2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/img-desktop/big-watch-min.png"
                alt="big-watch-picture"
                class="image-section-big-image"
              />
            </picture>
          </div>
        </div>
        <div class="text-section">
          <h3 class="text-section-title">
            MARQ&reg; Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="text-section-subtitle">Product tag: 706587</p>
          <p class="text-section-price">
            <data class="text-section-new-price" value="1500">€1500</data>
            <span class="text-section-old-price-wrapper">
              <data class="text-section-old-price" value="3000"
                >€3000</data
              ></span
            >
          </p>
          <p class="text-section-description">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a m odern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <ul class="text-section-tags">
            <li class="text-section-tag">Fused carbon fiber</li>
            <li class="text-section-tag">Grade-5 Titanium</li>
            <li class="text-section-tag">Athlete</li>
            <li class="text-section-tag">Golfer</li>
            <li class="text-section-tag">Commander</li>
            <li class="text-section-tag">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
