
.about-us {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.abt-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.abt-text-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 446px;
    background-color: #F3F3F3;
    border-radius: 30px;
}

.abt-section-title {
    margin-bottom: 28px;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #0C0C0C;
}

.abt-section-p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.abt-section-p-1 {
    margin-bottom: 20px;
}


.about-us-btn {
    width: 160px;
    height: 48px;
    border-radius: 16px;
    border: none;
    background-color: #3350E9;
    color: #FBFBFB;
    padding: 15px 38px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;

}

.about-us-btn:hover,
.about-us-btn:focus {
    background-color: #1F3CD4;
}

.abt-pic-container {
    display: block;
    width: 100%;
    height: 446px;
    background-color: #F3F3F3;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.abt-pic-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;

}


@media screen and (min-width: 768px) {

    .about-us {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .abt-wrapper {

        gap: 40px;
    }

    .abt-text-container {
        padding: 80px 60px;
        width: 704px;
        height: 512px;
        border-radius: 50px;
    }

    .abt-section-title {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 92%;
    }

    .abt-section-p {
        margin-bottom: 60px;
        font-size: 16px;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
    }

    .abt-pic-container {
        width: 704px;
        height: 512px;
        border-radius: 50px;
    }

}


@media screen and (min-width: 1280px) {

    .about-us {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .abt-wrapper {
        flex-direction: row;
    }

    .abt-text-container {
        flex-basis: ((100% - 40px)/2);
        height: 532px;

    }

    .abt-section-title {
        margin-bottom: 40px;
    }

    .abt-section-p {
        margin-bottom: 40px;
    }

    .abt-pic-container {
        height: 532px;
    }
}