.advertisement{
padding: 30px 0px;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
p 
{
margin: 0, 0, 0, 0;
}


/* Mobile first */



.advertisement-item
{
padding: 60px 28px;

}
.advertisement-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 28px;
}

.advertisement-part {
    font-family: "Gilroy", sans-serif;
    font-weight: 600px;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

.advertisement .advertisement-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #0c0c0c;
    background-size: cover;
    background-image: url(../img/img-mobile/advertisement-mob.png);
    margin: 0, auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 335px;
    padding: 0;

}

@media screen and (min-resolution:192dpi) {
    .advertisement .advertisement-container {
    background-image: url(../img/img-mobile/advertisement-mob-@2x-1.png);


    }
}


.button-advertisement {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    width: 160px;
    height: 48px;
    margin-top: 28px;
    white-space: nowrap;
    padding: 15px 43px;
    
}
    
    .button-advertisement:focus
    {
    background-color: #fbfbfb;
    color: #0c0c0c;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .button-advertisement:hover
    {
    background-color: #fbfbfb;
    color: #0c0c0c;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


/* Mobile adaptive from 375px */
     @media (min-width: 375px) {

    .button-advertisement:focus {
    background-color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .button-advertisement:hover {
    background-color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.advertisement .advertisement-container {
    background-color: #0c0c0c;
    background-image:url(../img/img-mobile/advertisement-mob.png);
}

@media screen and (min-resolution:192dpi) {
    .advertisement .advertisement-container {
    background-image:
    url(../img/img-mobile/advertisement-mob-@2x-1.png);

    }
.button-advertisement {
    padding: 15px 43px;
}
}
}
/* Tablet from 768px */
@media (min-width: 768px) {
    .advertisement {
        padding: 40px 0px;
        }

  .button-advertisement {
      padding: 15px 43px;
  }
  .advertisement-item
  {
   padding: 80px 64px;
  }
        .advertisement .advertisement-container {
        background-image:
            url(../img/img-tablet/advertisement-tablet.png);
    }

    @media screen and (min-resolution:192dpi) {
        .advertisement .advertisement-container {
            background-image:
                url(../img/img-tablet/advertisement-tablet-@2x.png);
        }
    }



        .advertisement .advertisement-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background-size: cover;
        background-color: #0c0c0c;
        max-width: 704px;

    }

    .advertisement-title {
    
        font-weight: 600;
        font-family: "Gilroy", sans-serif;
        font-size: 48px;
        line-height: 92%;
        letter-spacing: -0.02em;
        color: #fbfbfb;
        margin-bottom: 32px;
    }

    .advertisement-part {
        font-family: "Gilroy", sans-serif;
        font-weight: 600px;
        font-size: 48px;
        line-height: 92%;
        letter-spacing: -0.02em;
        color: rgba(251, 251, 251, 0.5);
    }
       
}

/* Desktop from 1280px */
@media (min-width: 1280px) {
    .advertisement {
            padding: 50px 0px;
        }

.advertisement-item
{
padding: 83px 80px;
}
.advertisement-title 
{
margin-bottom: 0px;
}

.advertisement .advertisement-container {
background-image:
url(../img/img-desktop/advertisement-desctop-1.png);
max-width: 1150px;
        }
    
@media screen and (min-resolution:192dpi) {
.advertisement .advertisement-container {
background-image:
url(../img/img-desktop/advertisement-desctop-1-@2x.png);
            }
        }


    .advertisement-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .button-advertisement {
        display: block;
        height: 48px;
        width: 160px;
        margin-left: 140px;
        margin-top: 0;
    }
 
}