*{box-sizing: border-box;}
body {
    min-width: auto;
}
.hero {
    border: 1px solid;
    margin: 0 auto;
  
    /* padding-left: 20px;
    padding-right: 20px; */
}
.hero-text-colored {
    color: #3350E9;
}
.hero-container {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 0;
}
.main-title {
    border: 1px solid;
    margin-top: 60px;
    font-family: "Gilroy", sans-serif;
}
/* .hero-text{
    padding-left: 20px;
    padding-right: 20px;
} */

.hero-description {
    border: 1px solid;
    margin-top: 20px;
}