*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------------SALE----------------- */

.sale {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.image-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.image-section-small-images {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.small-image-wrapper {
  background: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  padding: 13px 14px;
}

.big-image-wrapper {
  background: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 50px;
}

.text-section {
  background-color: #3350e9;
  border-radius: 30px;
  padding: 48px 28px;
}

.text-section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.text-section-subtitle {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.text-section-price {
  display: flex;
  gap: 9px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 28px;
}

.text-section-new-price {
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  width: 68px;
  height: 32px;
}

.text-section-old-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 14px;
}

.text-section-old-price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  text-decoration: line-through;
}

.text-section-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.text-section-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.text-section-tag {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;

  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .sale-title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .image-section {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .image-section-small-images {
    flex-direction: column;
    gap: 10px;
  }

  .small-image-wrapper {
    border-radius: 20px;
    padding: 16px 18px;
    width: 132px;
    height: 132px;
  }

  .big-image-wrapper {
    border-radius: 50px;
    padding: 80px 112px;
  }

  .text-section {
    border-radius: 50px;
    padding: 60px;
  }

  .text-section-title {
    font-size: 32px;
    line-height: 1.12;
    margin-bottom: 10px;
    width: 436px;
    height: 72px;
  }

  .text-section-price {
    margin-bottom: 30px;
  }

  .text-section-new-price {
    font-size: 20px;
    line-height: 1;
    width: 78px;
  }

  .text-section-description {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .text-section-tags {
    max-width: 398px;
  }

  .text-section-tag {
    font-size: 14px;
    line-height: 1.28;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 65px;
  }

  .section-wrapper {
    display: flex;
    gap: 40px;
  }

  .image-section {
    flex-shrink: 0;
    min-width: 580px;
    margin-bottom: 0;
  }

  .text-section-title {
    width: 389px;
  }

  .big-image-wrapper {
    padding: 80px 50px;
    width: 428px;
    height: 558px;
  }
}
